#left{
	width: 250px;
	float: left;
}
.no_bottom_margin{
	margin-bottom: 0px;
}
#center{
	width: 950px;
	float: left;
}
.side_left{
	border-right: 1px solid #e7e7e7; 
	margin-right: 20px;
}
.panel_main{
	margin-top: 20px;
}
.margin_bottom_width_915{
	margin-bottom: 20px;
	width: 915px;
}
.margin_bottom_width_780{
	margin-bottom: 20px;
	width: 780px;
}
.margin_bottom_width_415{
	margin-bottom: 20px;
	width: 415px;
}
.margin_bottom_width_250{
	margin-bottom: 20px;
	width: 250px;
}
.width_200{
	width: 130px;
}
.width_100{
	width: 100px;
}
.nav li{
	border-bottom: 1px solid #e7e7e7;
}
#table_middle td{
	vertical-align: middle;
}
#float_left_id{
	float: left;
}