html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: normal;
font-style: normal;
font-size: 1em;
font-family: inherit;
vertical-align: baseline;
font-family: "Arial";
}
:focus {outline: 0;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
*{line-height: 1em;}

#wrapper{
	width: 1200px;
    margin: 0 auto;
    margin-top: 50px;	
}

#left{
	width: 250px;
	float: left;
}
.no_bottom_margin{
	margin-bottom: 0px;
}
#center{
	width: 950px;
	margin-left: 260px;
	float: left;
}

#center td{
	vertical-align: middle;
}
#center h1{
	font-size: 30px;
	font-weight: bold;
}
#center table {
	border-collapse: collapse;
}
#center td{
	padding-left: 10px;
	padding-right:10px;
	padding-top: 10px;
	padding-bottom:10px;
	font-size:12px;
	border: solid black 1px;
	border-collapse: collapse;
}